<%- include('./partials/header.ejs')%>
    <div class="container-fluid bg-dark">
        <div class="row">
            <div class="col-sm-2">
                <%- include('./partials/sidebar.ejs')%>
            </div>
            <div class="col-sm-10">
                <!-- Main content -->
                <div class="mt-5">
                    <div class="text-center">
                        <img src="/images/Aman.jpg" alt="" class="img-thumbnail" width="250px" height="150px">
                    </div>
                    <div class="mt-5 text-white mx=5 text-justify">
                        <h1 class="fw-bold st-font">Hello,</h1>
                        <div class="px-4" style="line-height: 2 rem;">
                            <p style="text-indent: 100px;">I am <b class="text-warning">Aman Upadhyay </b>, a passionate 
                                Full Stack Developer with hands-on experience in
                                building scalable, user-friendly, and high-performance web applications. Skilled in <b>
                                JavaScript, React, Node.js, Express, Sql and MongoDB </b>, I specialize in designing modern
                                front-end interfaces and developing robust back-end systems.
                                Throughout my journey, I have successfully delivered projects ranging from dynamic
                                websites to enterprise-grade applications. My expertise lies in writing clean,
                                maintainable code, implementing best practices, and ensuring smooth integration between
                                client and server-side operations.
                                I am always eager to learn and explore new technologies, which allows me to stay
                                up-to-date with industry trends and deliver innovative solutions. My goal is to
                                contribute to organizations where I can apply my technical skills, problem-solving
                                abilities, and creativity to drive impactful digital transformation.</p>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="/contact" class="btn btn-outline-warning mx-5 my-3">Hire Me</a>
                        <a href="/contact" class="btn btn-outline-info">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('./partials/footer.ejs')%>
        <!-- ,{page_name == 'Home'} -->